{% extends 'cms/base.html' %}

{% block content %}

<h2 class="text-center">Create a new account</h2>

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
         Your form has errors
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    {% endif %}

    {{ form.as_p }}
    {{ form2.as_p }}
    <input type="submit" value="Register" class="btn btn-secondary">
</form>

{% endblock %}