{% extends 'cms/base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


<h1>Your Profile</h1>
<hr>
{% if user.is_authenticated %}

    <div class="float-right">
        <img src="{% static user.userprofile.avatar %}" class="avatar">

    </div>

    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Role: {{ user.userprofile.role }}</p>
    <p>Bio: {{ user.userprofile.description }}</p>
    <video width="500" height="500" controls >
        <source src="/media/{{ user.userprofile.video }}" type="video/mp4">
    </video>


    <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
 
        <input type="file" name="video" accept="video/*">
        <button type="submit"> Upload New Video </button>
     
    </form>


{% endif %}

{% endblock %}