{% extends 'cms/base.html' %}

{% block content%}

<div class="row">
    <div class="col-sm-9">
        {{ mainpage.content|safe  }}
    </div>
    <div class="col-sm-3">
        <div class="pt-5 list-group">
            {% if jobs %}
                <h3 class="text-center">Latest jobs</h3>
                {% for job in jobs %}
                    <a href="/{{language}}/posts/{{job.slug }}" class="list-group-item list-group-item-action">{{ job.title }}</a>
                {% endfor %}
                <h5 class="pt-2 text-center"><a href="/{{language}}/posts/">More jobs</a></h5>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}