{% extends 'cms/base.html' %}
{% load i18n %}
{% load static %}


{% block content%}

<div class="row">
    <div class="col-sm-9">
        {{ mainpage.content|safe  }}
    </div>
    <div class="col-sm-3">
        <a class="teachers-link-box" href="/{{language}}/teachers/">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                <h4 class="card-title"><strong>{% trans "Teachers" %} 🧑‍🏫</strong></h4>
                <p class="card-text"><strong>{% trans "Click here to find teachers." %}</strong></p>
                </div>
            </div>
        </a>

        <div class="pt-1 list-group">
            {% if jobs %}
                <h3 class="text-center">{% trans "Latest jobs" %}</h3>
                {% for job in jobs %}
                    <a href="/{{language}}/posts/{{job.slug }}" class="list-group-item list-group-item-action">{{ job.title }}</a>
                {% endfor %}
                <h5 class="pt-2 text-center"><a href="/{{language}}/posts/">{% trans "More jobs" %}</a></h5>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}